body {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: aliceblue;
    height: 40px;
    line-height: 40px;
}

.logo {
    padding-left: 5px;
    font-size: 24px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

main {
    background-color: azure;
    flex: 1;
}

main .heading {
    text-align: center;
    min-height: 80px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .heading h1 {
    text-decoration: underline;
}

footer {
    background-color: lightskyblue;
    height: 60px;
    line-height: 60px;
}

footer ul {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

footer ul a {
    display: block;
}

footer ul:hover {
    transition-duration: 500ms;
    background-color: rgb(59, 169, 237);
}

.fa {
    margin-right: 5px;
}

li {
    list-style: none;
}

.introduction {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.introduction h2 {
    margin-bottom: 5px;
}

.title {
    text-decoration: underline;
    font-weight: bolder;
}

.introduction .item {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(98, 98, 98, 0.3);
    min-height: 100px;
    margin-bottom: 3px;
    margin-right: 5px;

}

.answer {
    text-align: center;
    vertical-align: middle;
}

.clear {
    clear: left;
}